# Brazil sales marketplace (Olist)

## About Olist

Olist is a Brazilian startup that operates in the e-commerce segment, mainly through the marketplace.

On the one hand, the olist concentrates sellers who want to advertise on marketplaces such as Mercado Livre, B2W, Via Varejo and Amazon. On the other hand, concentrate the products of all sellers in a single store that is visible to the end consumer.

## About the dataset

This is a Brazilian ecommerce public dataset of orders made at Olist Store. The dataset has information of 100k orders from 2016 to 2018 made at multiple marketplaces in Brazil. Its features allows viewing an order from multiple dimensions: from order status, price, payment and freight performance to customer location, product attributes and finally reviews written by customers.

## Questions

 - Which state and product category generated the highest average profit for the marketplace between 2016 and 2018?
 - Which state and product category generated the lowest average profit for this marketplace between 2016 and 2018?
 - Is the profit proportional to the population of the state?

# Importing the libraries

In [1]:
import pandas as pd

# Importing the datasets from Kaggle
https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce

* Items dataset
* Orders dataset
* Products dataset

In [2]:
items = pd.read_csv('olist_order_items_dataset.csv')
orders = pd.read_csv('olist_orders_dataset.csv')
products = pd.read_csv('olist_products_dataset.csv')

## Items dataset

In [3]:
items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [4]:
print('Items dataset')
print('Lines:', items.shape[0])
print('Columns:', items.shape[1])

Items dataset
Lines: 112650
Columns: 7

In [5]:
## Filtering columns order_id, product_id and price

items = items.loc[:, ['order_id','product_id','price']]
items.head()

                           order_id                        product_id   price
0  00010242fe8c5a6d1ba2dd792cb16214  4244733e06e7ecb4970a6e2683c13e61   58.90
1  00018f77f2f0320c557190d7a144bdd3  e5f2d52b802189ee658865ca93d83a8f  239.90
2  000229ec398224ef6ca0657da4fc703e  c777355d18b72b67abbeef9df44fd0fd  199.00
3  00024acbcdf0a6daa1e931b038114c75  7634da152a4610f1595efa32f14722fc   12.99
4  00042b26cf59d7ce69dfabb4e55b4fd9  ac6c3623068f30de03045865e4e10089  199.90

## Orders dataset

In [6]:
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [7]:
print('Orders dataset')
print('Lines:', orders.shape[0])
print('Columns:', orders.shape[1])

Orders dataset
Lines: 99441
Columns: 8

In [8]:
## Order status

orders.order_status.value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [9]:
## Fitering only the delivered orders

orders = orders[orders.order_status == 'delivered']

In [10]:
print('Orders dataset')
print('Lines:', orders.shape[0])
print('Columns:', orders.shape[1])

Orders dataset
Lines: 96478
Columns: 8

In [11]:
## Filtering columns order_id and customer_id

orders = orders.loc[:, ['order_id','customer_id']]
orders.head()

                           order_id                       customer_id
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

## Products

In [12]:
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [13]:
print('Products dataset')
print('Lines:', products.shape[0])
print('Columns:', products.shape[1])

Products dataset
Lines: 32951
Columns: 9

In [14]:
## Filtering columns product_id and product_category_name

products = products.loc[:, ['product_id','product_category_name']]
products.head()

                         product_id  product_category_name
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

_____

# Merges

## Merge between items and product in order_id column 
Creating a dataframe with order_id, product_id and product_category_name

In [15]:
order_product = items.merge(products, how = 'left', on = 'product_id')

order_product.head()

,order_id,product_id,price,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,58.90,cool_stuff
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,239.90,pet_shop
2,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,199.00,moveis_decoracao
3,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,12.99,perfumaria
4,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,199.90,ferramentas_jardim

In [16]:
order_product.shape

(112650, 4)

## Merge order_product and orders

In [17]:
orders_final = orders.merge(order_product, how = 'left', on = 'order_id')

In [18]:
orders_final.head()

,order_id,customer_id,product_id,price,product_category_name
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,aa4383b373c6aca5d8797843e5594415,159.90,automotivo
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,pet_shop
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,65266b2da20d04dbe00c5c2d3bb7859e,19.90,papelaria

In [19]:
orders_final.isnull().sum()

order_id                    0
customer_id                 0
product_id                  0
price                       0
product_category_name    1537
dtype: int64

In [20]:
## Drop null values
orders_final.dropna(inplace = True)

## Bringing location information

### Customer dataset

In [21]:
customer = pd.read_csv('olist_customers_dataset.csv')
customer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [22]:
## Filtering columns customer_id, customer_city, customer_state

In [23]:
customer = customer.loc[:, ['customer_id', 'customer_city', 'customer_state']]
customer.head()

                        customer_id          customer_city customer_state
0  06b8999e2fba1a1fbc88172c00ba8bc7                 franca             SP
1  18955e83d337fd6b2def6b18a428ac77  sao bernardo do campo             SP
2  4e7b3e00288586ebd08712fdd0374a03              sao paulo             SP
3  b2b6027bc5c5109e529d4dc6358b12c3        mogi das cruzes             SP
4  4f2d8ab171c80ec8364f7c12e35b23ad               campinas             SP

In [24]:
## Merge orders_final and customer

orders_final_2 = orders_final.merge(customer, how = 'left', on = 'customer_id')
orders_final_2.head()

,order_id,customer_id,product_id,price,product_category_name,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,87285b34884572647811a353c7ac498a,29.99,utilidades_domesticas,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,595fac2a385ac33a80bd5114aec74eb8,118.70,perfumaria,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,aa4383b373c6aca5d8797843e5594415,159.90,automotivo,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,d0b61bfb1de832b15ba9d266ca96e5b0,45.00,pet_shop,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,65266b2da20d04dbe00c5c2d3bb7859e,19.90,papelaria,santo andre,SP

In [25]:
#Searching for null values
orders_final_2.isnull().sum()

order_id                 0
customer_id              0
product_id               0
price                    0
product_category_name    0
customer_city            0
customer_state           0
dtype: int64

In [26]:
print('Number of orders:',orders_final_2.shape[0])

Number of orders: 108660

In [27]:
print('Number of products:',len(orders_final_2.product_category_name.value_counts()))

Number of products: 73

In [28]:
print('Number of cities:',len(orders_final_2.customer_city.value_counts()))

Number of cities: 4073

In [29]:
print('Number of states:',len(orders_final_2.customer_state.value_counts()))

Number of states: 27

## Creating a dataframe with product_category_name, customer_state, mean_price

In [30]:
# grouping information
final_dataframe = orders_final_2.groupby(['product_category_name','customer_state'])['price'].mean().to_frame().reset_index()

#Rename price column
final_dataframe.rename(columns = {'price': 'mean_price (R$)'}, inplace = True)

#Rounding the price to two decimal places
final_dataframe['mean_price (R$)'] = final_dataframe['mean_price (R$)'].apply(lambda x : round(x,2))

final_dataframe

          product_category_name customer_state  mean_price (R$)
0     agro_industria_e_comercio             AL          1476.30
1     agro_industria_e_comercio             AP           589.99
2     agro_industria_e_comercio             BA           451.40
3     agro_industria_e_comercio             CE            75.48
4     agro_industria_e_comercio             ES           221.15
...                         ...            ...              ...
1357      utilidades_domesticas             RS            89.43
1358      utilidades_domesticas             SC           103.79
1359      utilidades_domesticas             SE           126.75
1360      utilidades_domesticas             SP            84.69
1361      utilidades_domesticas             TO            71.24

[1362 rows x 3 columns]

In [31]:
# This dataaset can be used to create the network and answers the questions

___

___

# Tests with networkx library

In [ ]:
import networkx as nx
from networkx.algorithms import bipartite

## UNWEIGHTED GRAPH

In [ ]:
# Initialize graph

b = nx.DiGraph()

In [ ]:
# Adding nodes

b.add_nodes_from(orders_final_2['product_category_name'], bipartite= 1)
b.add_nodes_from(orders_final_2['customer_state'], bipartite= 0)

In [ ]:
# Adding edges

edges = list(orders_final_2.loc[: , ['product_category_name', 'customer_state']].apply(tuple, axis = 1))

for i in edges:
    b.add_edge(i[0], i[1])

In [ ]:
# Plotting bipartite network

import matplotlib.pyplot as plt

In [ ]:
# Specify nodes on left or top

#left_or_top = orders_final_2['customer_state'].unique()

# create bipartite layout

#pos = nx.bipartite_layout(b, left_or_top)

# pass the layout to nx.draw

#nx.draw(b,
#       pos,
#       node_color = '#A0CBE2', 
#       edge_color = '#00bb5e', 
#       width = 1,
#       edge_cmap = plt.cm.Blues, with_labels = True
#       )

## WEIGHTED GRAPH BASED ON PRODUCT CATEGORY QUANTITIES PER STATE

In [ ]:
group = orders_final_2.groupby('customer_state')['product_category_name'].value_counts().to_frame()
group.rename(columns = {'product_category_name': 'weight'}, inplace = True)

In [ ]:
group

In [ ]:
group.reset_index(inplace = True)
group.head()

In [ ]:
group = group.head(10)
group

In [ ]:
## Creating and plotting the graph

c = nx.DiGraph()

# Adding nodes

c.add_nodes_from(group['product_category_name'], bipartite= 0)
c.add_nodes_from(group['customer_state'], bipartite= 1)


# Adding edges

edges_c = list(group.loc[: , ['customer_state','product_category_name','weight']].apply(tuple, axis = 1))
print(edges_c)
for i in edges_c:
    c.add_edge(i[0], i[1], weight = i[2])

In [ ]:
# Specify nodes on left or top

left_or_top_c = group['customer_state'].unique()

# create bipartite layout

pos_c = nx.bipartite_layout(c, left_or_top_c) 

# pass the layout to nx.draw
plt.figure(1,figsize=(15,5))

nx.draw(c,
       pos_c,
       node_color = '#A0CBE2', 
       edge_color = '#00bb5e', 
       width = 1,
       edge_cmap = plt.cm.Blues, 
       with_labels = True
       )

# getting the edge labels

edge_labels = nx.get_edge_attributes(c,'weight')
 
nx.draw_networkx_edge_labels(c, 
                             pos_c, 
                             edge_labels = edge_labels);