In [7]:
import pandas as pd
import networkx as nx
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv('datasets/olist_joined_dataset.csv')

In [42]:
df = pd.DataFrame({"order":   [1,   2,  1, 4,  5,  1, 3, 4, 4, 4],
                   "product": [11, 22, 33, 44, 55, 1, 1, 2, 3, 1],
                   "category": ["beauty", "furniture", "automotive", 
                                "health", "beauty", "health", "health", "perfume", "bed", "health"]})

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   order     10 non-null     int64
 1   product   10 non-null     int64
 2   category  10 non-null     object
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [44]:
df

   order  product    category
0      1       11      beauty
1      2       22   furniture
2      1       33  automotive
3      4       44      health
4      5       55      beauty
5      1        1      health
6      3        1      health
7      4        2     perfume
8      4        3         bed
9      4        1      health

In [46]:
df[df.order == 4]

   order  product category
3      4       44   health
7      4        2  perfume
8      4        3      bed
9      4        1   health

In [35]:
categories = set(df[df.order == 1].category.tolist())

In [36]:
categories

{'automotive', 'beauty', 'health'}